* {
    box-sizing: border-box;
}

.padding-15 {
    padding-right: 20px;
    padding-left: 20px;
}

/*  */
.menu-flight {
    padding: 3rem 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.flight-right {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    padding: 1rem 0;
    border-radius: 10px;
}

.flight-left {
    width: 24%;
}

.flight-right {
    width: 74%;
}
/*  */

.plan-right-heading {
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(210, 210, 214, 1);
    align-items: center;
}

    .plan-right-heading > div > div {
        font-size: 20px;
        font-weight: 600;
    }

    .plan-right-heading p {
        font-size: 14px;
        align-items: flex-end;
        font-weight: 700;
    }

    .plan-right-heading > div p:last-child {
        width: 140px;
    }

.flight-right-input-serach {
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 2.4rem 0;
}

    .flight-right-input-serach > input {
        width: 84%;
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid rgba(210, 210, 214, 1);
        outline: none;
    }

        .flight-right-input-serach > input::placeholder {
            color: rgba(210, 210, 214, 1);
            font-size: 12px;
        }

    .flight-right-input-serach > div {
        width: 16%;
        gap: 0.8rem;
    }

        .flight-right-input-serach > div > button {
            border: none;
            display: flex;
            background-color: transparent;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 12px;
            border: 1px solid var(--color-primary);
            color: var(--color-primary);
            align-items: center;
            outline: none;
            gap: 3px;
        }

            .flight-right-input-serach > div > button img {
                width: 15px;
                object-fit: cover;
                height: 11px;
            }
/* =========================== */
.menu-flight > div:first-child,
.menu-section {
    padding-bottom: 1rem;
    border-bottom: 1px solid gray;
}

.menu-section {
    margin-top: 0.5rem;
}

    .menu-section > ul li {
        display: flex;
        align-items: center;
        gap: 9px;
        font-size: 14px;
        color: var(--color-primary);
        font-weight: 600;
    }

        .menu-section > ul li:not(li:last-child) {
            margin: 1rem 0;
        }

    .menu-section > div img {
        cursor: pointer;
    }

.list-none-style {
    list-style: none;
}

    .list-none-style.hidden {
        max-height: 0;
        opacity: 0;
    }

/*  */

/* Nút cuộn lên */
.scroll-to-top {
    position: fixed;
    bottom: 27rem;
    right: 20px;
    display: none; /* Ẩn nút khi trang mới tải */
    background-color: transparent;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 10px;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

    .scroll-to-top:hover {
        background-color: #0056b3;
    }

    .scroll-to-top.show {
        display: block; /* Hiển thị nút */
        opacity: 1;
        transform: translateY(0);
    }

    .scroll-to-top.hidden {
        opacity: 0;
        transform: translateY(20px);
    }

/* ============================================================== */

.filgth-apdung {
    margin-top: 1.4rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(210, 210, 214, 1);
}

.item-container-apdung {
    width: 135px;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    border: 1px solid var(--color-info);
}

    .item-container-apdung > span {
        cursor: pointer;
        padding: 5px;
    }

.container-apdung {
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid rgba(210, 210, 214, 1);
    flex-wrap: wrap;
    gap: 1.5rem;
}
/*  */

.plan-select-wrapper {
    width: 100%;
    position: relative;
    gap: 1rem;
}

.lable-wrapper {
    position: absolute;
    font-size: 14px;
    font-weight: 700;
    top: -13px;
    background-color: #fff;
    padding: 0 5px;
    left: 20px;
}

#plan-destination-select {
    flex: 8;
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
    outline: none;
}

.plan-add-option {
    flex: 1;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
}

    .plan-add-option > span {
        padding-bottom: 0.2rem;
        border-bottom: 2px solid var(--color-primary);
    }

.plan-chinhsach {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid rgba(210, 210, 214, 1);
    margin-top: 1.5rem;
}

    .plan-chinhsach > h6 {
        margin-bottom: 1.5rem;
    }

.conatienr-plan-list {
    margin-top: 1rem;
    height: 120px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 15px 15px;
}

.item-list-plan-container {
    padding: 4px 10px;
    border: 1px solid gray;
    border-radius: 5px;
    display: inline-block;
}

.cancel,
.setting {
    padding: 0.5rem 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

.setting {
    background-color: var(--color-info);
    color: white;
}

.cancel {
    border: 1px solid var(--color-info);
    color: var(--color-info);
}

.endPlane {
    gap: 1rem;
    padding: 1rem 0;
}

/*  */
.logo__table__mobile--menu {
    display: none;
}
/*  */
@media screen and (min-width: 1025px) {
    section {
        margin: 40px 80px;
    }
}

@media screen and (max-width: 1410px) and (min-width: 1025px) {
    section {
        margin: 40px 20px;
    }
}

/* Tablet */
@media screen and (max-width: 1024px) and (min-width: 600px) {
    .banner > img {
        height: calc(100vh - 100px);
        object-fit: cover;
        object-position: center;
    }

    .header__menu--chung.filght__banner {
        display: none;
    }

    .header__menu--chung {
        display: none;
    }

    nav > .menu {
        display: none;
    }

    .logo__table__mobile--menu {
        display: flex;
        align-items: center;
        margin-left: 28px;
        height: 47px;
    }

    .container__respon {
        margin: 0 auto;
    }

    header > .header__logo {
        margin-left: 20px;
    }

    .footer__widgets {
        padding: 30px 80px;
    }

    .footer__copyright {
        flex-wrap: wrap;
        padding: 10px 50px;
    }
    /*  */
    div.footer__copyright-links {
        flex-wrap: wrap;
    }

    .respon__table--grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(45%, 1fr));
        gap: 20px 20px;
    }
    /*  */
    .flight {
        flex-direction: column;
        gap: 40px;
    }

    .flight-right,
    .flight-left {
        width: 100%;
    }

    .flight-right-info {
        flex-wrap: wrap;
        gap: 0;
        justify-content: space-between;
    }

    .flight-right-input-serach > input {
        width: 70%;
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid rgba(210, 210, 214, 1);
        outline: none;
    }
    /*  */
    .thietlapkehoach,
    .thietlapchinhsach {
        flex-wrap: wrap;
    }

    .info-box-plan2,
    .info-box {
        flex: 0 100%;
    }
}

@media screen and (max-width: 970px) and (min-width: 601px) {
    section {
        margin: 40px 10px;
    }

    .banner > img {
        height: calc(100vh - 100px);
        object-fit: cover;
        object-position: center;
    }

    header > .header__logo {
        margin-left: 10px;
    }

    .footer__widgets {
        padding: 30px 10px;
    }

    .footer__copyright {
        flex-wrap: wrap;
        padding: 10px 10px;
    }

    .respon__table--grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(45%, 1fr));
        gap: 20px 20px;
    }
}

/* Mobile */
@media screen and (max-width: 600px) {
    .respon__table--grid {
        display: grid;
        grid-template-columns: repeat(1, minmax(45%, 1fr));
        gap: 20px 20px;
    }

    .header__user-ticket {
        width: max-content;
    }

    .banner > img {
        height: calc(100vh - 100px);
        object-fit: cover;
        object-position: center;
    }

    section {
        margin: 40px 20px;
    }
    /* Style for mobile */
    .header__menu--chung {
        display: none;
    }

    nav > .menu {
        display: none;
    }

    .logo__table__mobile--menu {
        display: flex;
        align-items: center;
        margin-left: 10px;
        height: 47px;
    }

    .container__respon {
        margin: 0 auto;
    }

    header > .header__logo {
        margin-left: 10px;
    }

    .nav--numberPhone > span {
        margin-right: 5px;
        margin-left: 5px;
    }

    .footer__widgets {
        padding: 30px 20px;
    }

    .footer__copyright {
        flex-wrap: wrap;
        padding: 10px 20px;
    }

    /*  */
    div.footer__copyright-links {
        flex-wrap: wrap;
    }
    /*  */

    .flight {
        flex-direction: column;
        gap: 40px;
    }

    .flight-right,
    .flight-left {
        width: 100%;
    }

    .flight-right-info {
        flex-wrap: wrap;
        gap: 0;
        justify-content: space-between;
    }

    .flight-right-input-serach > input {
        width: 100%;
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid rgba(210, 210, 214, 1);
        outline: none;
    }
    /*  */
    .thietlapkehoach,
    .thietlapchinhsach {
        flex-wrap: wrap;
    }

    .info-box-plan2,
    .info-box {
        flex: 0 100%;
    }

    #plan-destination-select {
        max-width: 70%;
    }

    .header__actions {
        display: none;
    }
}
