@{
    ViewData["Title"] = "Flight";
}
@section Styles {
    <link href="~/Content/assets/css/flight.css" rel="stylesheet" />
    <link href="~/Content/assets/css/Flight-Payment2.css" rel="stylesheet" />
}
<section>
    <h4 class="text-primary">THÔNG TIN THANH TOÁN</h4>
    <p class="text-info " style="font-size: 12px; margin-bottom: 15px;">
        Quý khách vui lòng kiểm tra lại thông
        tin đặt vé và thanh
        toán đầy đủ
    </p>
    <div class="flight   d-flex justify-content-between mt-20">
        <div class="flight-right ">
            <div class="box-shadow mt-20 vemaybay ">
                <div class="d-flex px-30  justify-content-between lichdiss lichdiss-2">
                    <div>
                        <span class="w-min-max">Chiều đi: Hà Nội - Hồ Chí Minh</span>
                        <span class="w-min-max">Ngày: 06/02/2023</span>
                    </div>
                    <div>
                        <span class="w-min-max">Điều kiện vé</span>
                        <span><img src="./assets/svg/icons/Flight-list/right-arow.svg" alt=""></span>
                    </div>
                </div>
                <!--  -->
                <div class="d-flex px-30 justify-content-between lichdiss__conten wrapber">
                    <div class="d-flex logo">
                        <div>
                            <img style="width: 40px; height: 40px; object-fit: contain; border-radius: 50%; margin-right: 10px; "
                                 src="./assets/image/Vector.png" alt="">
                        </div>
                        <div>
                            <div class="text-primary">VIETJET AIR</div>
                            <div class="text-danger">VJ2051 - A320</div>
                        </div>
                    </div>
                    <!--  -->
                    <div class="d-flex filght__bay">
                        <!--  -->
                        <div class="content-main--left">
                            <div class="d-flex">
                                <div>
                                    <span>Thứ 5 04/02/25</span>
                                </div>
                                <div>
                                    <h4 class="text-primary"><strong>17:05 </strong></h4>
                                </div>
                            </div>
                            <div>
                                <div class="text-info w-min-max">Hà Nội (HAN)</div>
                                <div class="text-primary w-min-max">Sân bay Nội Bài</div>
                            </div>
                        </div>
                        <!--  -->
                        <div class="filget-conten-main">
                            <img src="./assets/svg/icons/Flight-list/flight.svg" alt="">
                        </div>
                        <!--  -->
                        <div class="content-main--right">
                            <div class="d-flex">

                                <div>
                                    <h4 class="text-primary"><strong>19:15 </strong></h4>
                                </div>
                                <div>
                                    <span>Thứ 5 04/02/25</span>
                                </div>
                            </div>
                            <div>
                                <div class="text-info w-min-max">Tp. Hồ Chí Minh (SGN)</div>
                                <div class="text-primary w-min-max">Sân bay Tân Sơn Nhất</div>
                            </div>
                        </div>

                    </div>
                    <!--  -->
                    <div class="d-flex content-main-end chuyenbay">
                        <div>
                            <div class="text-danger w-min-max baythang">Bay thẳng</div>
                            <div class="text-info mt-20">02h10m</div>
                        </div>
                        <div>
                            <div class="text-danger w-min-max hangve">Hạng vé</div>
                            <div class="text-info mt-20">Eco1</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="box-shadow mt-20 vemaybay ">
                <div class="d-flex px-30  justify-content-between lichdiss lichdiss-2">
                    <div>
                        <span class="w-min-max">Chiều đi: Hà Nội - Hồ Chí Minh</span>
                        <span class="w-min-max">Ngày: 06/02/2023</span>
                    </div>
                    <div>
                        <span class="w-min-max">Điều kiện vé</span>
                        <span><img src="./assets/svg/icons/Flight-list/right-arow.svg" alt=""></span>
                    </div>
                </div>
                <!--  -->
                <div class="d-flex px-30 justify-content-between lichdiss__conten wrapber">
                    <div class="d-flex logo">
                        <div>
                            <img style="width: 40px; height: 40px; object-fit: contain; border-radius: 50%; margin-right: 10px; "
                                 src="./assets/image/Vector.png" alt="">
                        </div>
                        <div>
                            <div class="text-primary">VIETJET AIR</div>
                            <div class="text-danger">VJ2051 - A320</div>
                        </div>
                    </div>
                    <!--  -->
                    <div class="d-flex filght__bay">
                        <!--  -->
                        <div class="content-main--left">
                            <div class="d-flex">
                                <div>
                                    <span>Thứ 5 04/02/25</span>
                                </div>
                                <div>
                                    <h4 class="text-primary"><strong>17:05 </strong></h4>
                                </div>
                            </div>
                            <div>
                                <div class="text-info w-min-max">Hà Nội (HAN)</div>
                                <div class="text-primary w-min-max">Sân bay Nội Bài</div>
                            </div>
                        </div>
                        <!--  -->
                        <div class="filget-conten-main">
                            <img src="./assets/svg/icons/Flight-list/flight.svg" alt="">
                        </div>
                        <!--  -->
                        <div class="content-main--right">
                            <div class="d-flex">

                                <div>
                                    <h4 class="text-primary"><strong>19:15 </strong></h4>
                                </div>
                                <div>
                                    <span>Thứ 5 04/02/25</span>
                                </div>
                            </div>
                            <div>
                                <div class="text-info w-min-max">Tp. Hồ Chí Minh (SGN)</div>
                                <div class="text-primary w-min-max">Sân bay Tân Sơn Nhất</div>
                            </div>
                        </div>

                    </div>
                    <!--  -->
                    <div class="d-flex content-main-end chuyenbay">
                        <div>
                            <div class="text-danger w-min-max baythang">Bay thẳng</div>
                            <div class="text-info mt-20">02h10m</div>
                        </div>
                        <div>
                            <div class="text-danger w-min-max hangve">Hạng vé</div>
                            <div class="text-info mt-20">Eco1</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="mt-50">
                <h4 class="text-primary">LỰA CHỌN PHƯƠNG THỨC THANH TOÁN</h4>
                <p class="text-info " style="font-size: 16px; margin-bottom: 15px;">
                    Sau khi hoàn tất thanh toán,
                    vé điện tử sẽ được gửi ngay qua SMS và Email của bạn.
                </p>
            </div>
            <!--  -->

            <div class="mt-50 d-flex justify-content-between pay-thanhtoan">
                <div class="d-flex justify-content-between padding-15 active cursor pay-thanhtoan-item"
                     data-select="quanganhang">
                    <div>
                        <div class="text-info"> THANH TOÁN TRỰC TIẾP</div>
                        <div class="text-primary">QUA NGÂN HÀNG</div>
                    </div>
                    <span>
                        <img src="./assets/svg/icons/Flight-list/pay-active.svg" alt="">
                    </span>
                </div>
                <!--  -->
                <div class="d-flex justify-content-between padding-15 cursor pay-thanhtoan-item"
                     data-select="quacongthanhtoan">
                    <div>
                        <div class="text-info"> THANH TOÁN TRỰC TIẾP</div>
                        <div class="text-primary">QUA CỔNG THANH TOÁN</div>
                    </div>
                    <span>
                        <img src="./assets/svg/icons/Flight-list/pay.svg" alt="">
                    </span>
                </div>
                <!--  -->
                <div class="d-flex justify-content-between padding-15 cursor  pay-thanhtoan-item"
                     data-select="vanphonguyquyen">
                    <div>
                        <div class="text-info"> THANH TOÁN TRỰC TIẾP</div>
                        <div class="text-primary">VĂN PHÒNG ỦY QUYỀN</div>
                    </div>
                    <span>
                        <img src="./assets/svg/icons/Flight-list/pay.svg" alt="">
                    </span>
                </div>
            </div>
            <!--  -->
            <div class="mt-50  ">
                <div class="quanganhang  container-pay ">
                    <article class="box-shadow-s pay-select-container">
                        <div class="pay-img padding-15">
                            <img src="./assets/image/HotBanner-1.png" alt="">
                        </div>
                        <div class="pay-name text-primary padding-15">
                            <div>Tên tài khoản:</div>
                            <div>Công ty cổ phần vé máy bay số</div>
                        </div>
                        <div class="pay-stk text-primary padding-15">
                            <div class="text-primary">Số tài khoản:</div>
                            <h4 class="text-danger">1035 396 886</h4>
                        </div>
                        <div class="pay-noidung text-primary padding-15">
                            <div>Nội dung:</div>
                            <div>CKVMBS-Mã Đơn hàng của bạn</div>
                        </div>
                        <div class="pay-footer text-primary padding-15">
                            <div>Nhân hàng TMCO Ngoại Thương Việt Nam Vietcombank</div>
                            <ul class="padding-15">
                                <li>Chi Nhán thành Công - Hà Nội</li>
                            </ul>
                        </div>
                    </article>
                    <article class="box-shadow-s pay-select-container">
                        <div class="pay-img padding-15">
                            <img src="./assets/image/HotBanner-1.png" alt="">
                        </div>
                        <div class="pay-name text-primary padding-15">
                            <div>Tên tài khoản:</div>
                            <div>Công ty cổ phần vé máy bay số</div>
                        </div>
                        <div class="pay-stk text-primary padding-15">
                            <div class="text-primary">Số tài khoản:</div>
                            <h4 class="text-danger">1035 396 886</h4>
                        </div>
                        <div class="pay-noidung text-primary padding-15">
                            <div>Nội dung:</div>
                            <div>CKVMBS-Mã Đơn hàng của bạn</div>
                        </div>
                        <div class="pay-footer text-primary padding-15">
                            <div>Nhân hàng TMCO Ngoại Thương Việt Nam Vietcombank</div>
                            <ul class="padding-15">
                                <li>Chi Nhán thành Công - Hà Nội</li>
                            </ul>
                        </div>
                    </article>
                    <article class="box-shadow-s pay-select-container">
                        <div class="pay-img padding-15">
                            <img src="./assets/image/HotBanner-1.png" alt="">
                        </div>
                        <div class="pay-name text-primary padding-15">
                            <div>Tên tài khoản:</div>
                            <div>Công ty cổ phần vé máy bay số</div>
                        </div>
                        <div class="pay-stk text-primary padding-15">
                            <div class="text-primary">Số tài khoản:</div>
                            <h4 class="text-danger">1035 396 886</h4>
                        </div>
                        <div class="pay-noidung text-primary padding-15">
                            <div>Nội dung:</div>
                            <div>CKVMBS-Mã Đơn hàng của bạn</div>
                        </div>
                        <div class="pay-footer text-primary padding-15">
                            <div>Nhân hàng TMCO Ngoại Thương Việt Nam Vietcombank</div>
                            <ul class="padding-15">
                                <li>Chi Nhán thành Công - Hà Nội</li>
                            </ul>
                        </div>
                    </article>
                    <article class="box-shadow-s pay-select-container">
                        <div class="pay-img padding-15">
                            <img src="./assets/image/HotBanner-1.png" alt="">
                        </div>
                        <div class="pay-name text-primary padding-15">
                            <div>Tên tài khoản:</div>
                            <div>Công ty cổ phần vé máy bay số</div>
                        </div>
                        <div class="pay-stk text-primary padding-15">
                            <div class="text-primary">Số tài khoản:</div>
                            <h4 class="text-danger">1035 396 886</h4>
                        </div>
                        <div class="pay-noidung text-primary padding-15">
                            <div>Nội dung:</div>
                            <div>CKVMBS-Mã Đơn hàng của bạn</div>
                        </div>
                        <div class="pay-footer text-primary padding-15">
                            <div>Nhân hàng TMCO Ngoại Thương Việt Nam Vietcombank</div>
                            <ul class="padding-15">
                                <li>Chi Nhán thành Công - Hà Nội</li>
                            </ul>
                        </div>
                    </article>
                </div>
                <div class="quacongthanhtoan container-pay">
                    <h1>Qua cong thanh toan</h1>
                </div>
                <div class="vanphonguyquyen container-pay">
                    <h1>van Phong uy quyen</h1>
                </div>
            </div>

        </div>
        <div class="flight-left">
            <div class="menu-flight">
                <div class="menu-section">
                    <div class=" toggle-menu cursor text-info d-flex justify-content-between  padding-15"
                         data-target="#menu-stk">
                        <h6 class="text-info ">THÔNG TIN ĐẶT VÉ</h6>
                        <div>
                            <img src="./assets/svg/icons/Flight-list/drop-button.svg" alt="">
                        </div>
                    </div>
                    <div class="padding-15 d-flex justify-content-between  bg-info-alt tongtienFaleis">
                        <h6>TỔNG TIỀN</h6>
                        <h6>1.219.820 VND</h6>
                    </div>
                    <ul class="list-none-style padding-15  hidden" id="menu-stk">
                        <li class="d-flex justify-content-between text-primary">
                            <p>Trang thái:</p>
                            <p>Chờ xác nhận</p>
                        </li>
                        <li class="d-flex justify-content-between text-primary ">
                            <p>Điểm xuất phát:</p>
                            <p>Hà Nội</p>
                        </li>
                        <li class="d-flex justify-content-between text-primary ">
                            <p>Điểm đến:</p>
                            <p>Đà Lạt</p>
                        </li>
                        <li class="d-flex justify-content-between text-primary ">
                            <p>Loại vé:</p>
                            <p>Một chiều</p>
                        </li>
                        <li class="d-flex justify-content-between text-primary ">
                            <p>Hành khách:</p>
                            <p>2 người lớn,1 trẻ em,1 trẻ sơ sinh</p>
                        </li>
                        <li class="d-flex justify-content-between text-primary ">
                            <p>Ngày đi:</p>
                            <p>
                                05:35
                                Thứ 2, 07/08/2023
                            </p>
                        </li>
                        <li class="d-flex justify-content-between text-primary ">
                            <p>NHãng bay:</p>
                            <div class="d-flex ">
                                <span style="margin-right: 10px;">
                                    <img style="width: 25px; height: 25px; object-fit: contain; border-radius: 50%; "
                                         src="https://s3-alpha-sig.figma.com/img/9a03/168e/4eaebf7ae53e777a4b094ef67a4fcd6d?Expires=1733702400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=bMbRz3fCrdoOtsEomyA4muVbC01yVcacm9zIRKXkw7cosxwheJYOreJxpuo1428ZLmKemY79gGgTRQILDkG6BL49ChctTVIxgLzti36rWfdpKDBkYhApBbEYRfhcI392Qdk659hn8tNklaoDB-WZfuZujDqlslRbR-jF-GKd8YuH0WgPC43VkAEf3ZaanmSlE1KkhuRsKZplLR~ciXi-IlRCekQEmSwiv0Fv~8vj9qI2r4LrjVbFarAhSnh9F9uogNMHZBitZN6soc1t6b9EnnIwsElJZT20~N05zJ1MsNfeJBDSgrmqqmKTE5NJwEBiDOrpJbd-QFbMPNXe8cjXlg__"
                                         alt="">
                                </span>
                                <p>VietjetAir</p>
                            </div>
                        </li>

                    </ul>
                    <div class="padding-15 ">
                        <button class="bg-danger  chitietdatvess" id="chitietdatvess">
                            CHI TIẾT ĐẶT
                            VÉ
                        </button>
                    </div>
                </div>


            </div>
        </div>



</section>
@section Scripts {
    <script src="~/Content/assets/js/Flight-Payment2.js"></script>
}