@{
    ViewData["Title"] = "Flight";
}
@section Styles {
    <link href="~/Content/assets/css/flight.css" rel="stylesheet" />
    <link href="~/Content/assets/css/Flight-Payment1.css" rel="stylesheet" />
}
<form action="#" method="get">
    <section>
        <h4 class="text-primary">THÔNG TIN THANH TOÁN</h4>
        <p class="text-info " style="font-size: 12px; margin-bottom: 15px;">
            Quý khách vui lòng kiểm tra lại
            thông
            tin đặt vé và thanh
            toán đầy đủ
        </p>
        <div class="flight   d-flex justify-content-between mt-20">
            <div class="flight-right ">
                <div class="box-shadow  vemaybay ">
                    <div class="d-flex px-30  justify-content-between lichdiss lichdiss-2">
                        <div>
                            <span class="w-min-max">Chiều đi: Hà Nội - Hồ Chí Minh</span>
                            <span class="w-min-max">Ngày: 06/02/2023</span>
                        </div>
                        <div>
                            <span class="w-min-max">Điều kiện vé</span>
                            <span><img src="./assets/svg/icons/Flight-list/right-arow.svg" alt=""></span>
                        </div>
                    </div>
                    <!--  -->
                    <div class="d-flex px-30 justify-content-between lichdiss__conten wrapber">
                        <div class="d-flex logo">
                            <div>
                                <img style="width: 40px; height: 40px; object-fit: contain; border-radius: 50%; margin-right: 10px; "
                                     src="./assets/image/Vector.png" alt="">
                            </div>
                            <div>
                                <div class="text-primary">VIETJET AIR</div>
                                <div class="text-danger">VJ2051 - A320</div>
                            </div>
                        </div>
                        <!--  -->
                        <div class="d-flex filght__bay">
                            <!--  -->
                            <div class="content-main--left">
                                <div class="d-flex">
                                    <div>
                                        <span>Thứ 5 04/02/25</span>
                                    </div>
                                    <div>
                                        <h4 class="text-primary"><strong>17:05 </strong></h4>
                                    </div>
                                </div>
                                <div>
                                    <div class="text-info w-min-max">Hà Nội (HAN)</div>
                                    <div class="text-primary w-min-max">Sân bay Nội Bài</div>
                                </div>
                            </div>
                            <!--  -->
                            <div class="filget-conten-main">
                                <img src="./assets/svg/icons/Flight-list/flight.svg" alt="">
                            </div>
                            <!--  -->
                            <div class="content-main--right">
                                <div class="d-flex">

                                    <div>
                                        <h4 class="text-primary"><strong>19:15 </strong></h4>
                                    </div>
                                    <div>
                                        <span>Thứ 5 04/02/25</span>
                                    </div>
                                </div>
                                <div>
                                    <div class="text-info w-min-max">Tp. Hồ Chí Minh (SGN)</div>
                                    <div class="text-primary w-min-max">Sân bay Tân Sơn Nhất</div>
                                </div>
                            </div>

                        </div>
                        <!--  -->
                        <div class="d-flex content-main-end chuyenbay">
                            <div>
                                <div class="text-danger w-min-max baythang">Bay thẳng</div>
                                <div class="text-info mt-20">02h10m</div>
                            </div>
                            <div>
                                <div class="text-danger w-min-max hangve">Hạng vé</div>
                                <div class="text-info mt-20">Eco1</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="box-shadow mt-20 vemaybay ">
                    <div class="d-flex px-30  justify-content-between lichdiss lichdiss-2">
                        <div>
                            <span class="w-min-max">Chiều đi: Hà Nội - Hồ Chí Minh</span>
                            <span class="w-min-max">Ngày: 06/02/2023</span>
                        </div>
                        <div>
                            <span class="w-min-max">Điều kiện vé</span>
                            <span><img src="./assets/svg/icons/Flight-list/right-arow.svg" alt=""></span>
                        </div>
                    </div>
                    <!--  -->
                    <div class="d-flex px-30 justify-content-between lichdiss__conten wrapber">
                        <div class="d-flex logo">
                            <div>
                                <img style="width: 40px; height: 40px; object-fit: contain; border-radius: 50%; margin-right: 10px; "
                                     src="./assets/image/Vector.png" alt="">
                            </div>
                            <div>
                                <div class="text-primary">VIETJET AIR</div>
                                <div class="text-danger">VJ2051 - A320</div>
                            </div>
                        </div>
                        <!--  -->
                        <div class="d-flex filght__bay">
                            <!--  -->
                            <div class="content-main--left">
                                <div class="d-flex">
                                    <div>
                                        <span>Thứ 5 04/02/25</span>
                                    </div>
                                    <div>
                                        <h4 class="text-primary"><strong>17:05 </strong></h4>
                                    </div>
                                </div>
                                <div>
                                    <div class="text-info w-min-max">Hà Nội (HAN)</div>
                                    <div class="text-primary w-min-max">Sân bay Nội Bài</div>
                                </div>
                            </div>
                            <!--  -->
                            <div class="filget-conten-main">
                                <img src="./assets/svg/icons/Flight-list/flight.svg" alt="">
                            </div>
                            <!--  -->
                            <div class="content-main--right">
                                <div class="d-flex">

                                    <div>
                                        <h4 class="text-primary"><strong>19:15 </strong></h4>
                                    </div>
                                    <div>
                                        <span>Thứ 5 04/02/25</span>
                                    </div>
                                </div>
                                <div>
                                    <div class="text-info w-min-max">Tp. Hồ Chí Minh (SGN)</div>
                                    <div class="text-primary w-min-max">Sân bay Tân Sơn Nhất</div>
                                </div>
                            </div>

                        </div>
                        <!--  -->
                        <div class="d-flex content-main-end chuyenbay">
                            <div>
                                <div class="text-danger w-min-max baythang">Bay thẳng</div>
                                <div class="text-info mt-20">02h10m</div>
                            </div>
                            <div>
                                <div class="text-danger w-min-max hangve">Hạng vé</div>
                                <div class="text-info mt-20">Eco1</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div>
                    <div class="mt-50">
                        <h4 class="text-primary">THÔNG TIN HÀNH LÝ</h4>
                        <p class="text-info " style="font-size: 16px; margin-bottom: 15px;">
                            Mỗi hành khách được
                            mang
                            theo tối đa 7kg hành lý xách tay, 0Kg hành lý ký gửi
                        </p>
                    </div>
                    <div class="thongtinhanglyky box-shadow padding-15 mt-20  d-flex">
                        <div class="thongtinhanhlykyguileft">
                            <h6 class="text-danger">Hành lý ký gửi chiều đi:</h6>
                            <div class="d-flex gap-10 mt-20">
                                <div class="hanhkhach">HÀNH KHÁCH 1:</div>

                                <div class="thongtinhanhkhach">
                                    Không mua thêm hành lý ký gửi 0 vnd
                                </div>
                            </div>
                            <div class="d-flex gap-10 mt-20">
                                <div class="hanhkhach">HÀNH KHÁCH 1:</div>

                                <div class="thongtinhanhkhach">
                                    Không mua thêm hành lý ký gửi 0 vnd
                                </div>
                            </div>
                            <div class="d-flex gap-10 mt-20">
                                <div class="hanhkhach">HÀNH KHÁCH 1:</div>

                                <div class="thongtinhanhkhach">
                                    Không mua thêm hành lý ký gửi 0 vnd
                                </div>
                            </div>
                        </div>
                        <div class="thongtinhanhlykyguiright">
                            <h6 class="text-danger">Hành lý ký gửi chiều về:</h6>
                            <div class="d-flex gap-10 mt-20">
                                <div class="hanhkhach">HÀNH KHÁCH 1:</div>

                                <div class="thongtinhanhkhach">
                                    Không mua thêm hành lý ký gửi 0 vnd
                                </div>
                            </div>
                            <div class="d-flex gap-10 mt-20">
                                <div class="hanhkhach">HÀNH KHÁCH 1:</div>

                                <div class="thongtinhanhkhach">
                                    Không mua thêm hành lý ký gửi 0 vnd
                                </div>
                            </div>
                            <div class="d-flex gap-10 mt-20">
                                <div class="hanhkhach">HÀNH KHÁCH 1:</div>

                                <div class="thongtinhanhkhach">
                                    Không mua thêm hành lý ký gửi 0 vnd
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--  -->
                <div>
                    <div class="mt-50">
                        <h4 class="text-primary">THÔNG TIN HÀNH KHÁCH</h4>
                        <p class="text-info " style="font-size: 16px; margin-bottom: 15px;">
                            Mỗi hành khách được
                            mang
                            theo tối đa 7kg hành lý xách tay, 0Kg hành lý ký gửi
                        </p>
                    </div>
                    <!--  -->
                    <div class="padding-15 infor-thongtinkh mt-20">
                        <h6 class="text-danger">Lưu ý! Kiểm tra thông tin cá nhân của bạn</h6>
                        <div class="mt-10 text-primary">
                            Do các quy định của hãng hàng không, điều quan trọng là tên của hành khách đi máy
                            bay được nhập vào ô họ tên và ngày tháng năm sinh đối với trẻ em, em bé phải trùng
                            với giấy tờ tùy thân đảm bảo lên máy bay. Hãng có thể từ chối và giá trị của vé bị
                            mất nếu nhập sai. Rất tiếc, chúng tôi không thể hỗ trợ bạn sửa tên sau khi đặt vé
                            được xác nhận.
                        </div>
                    </div>
                    <!--  -->
                    <div class="box-shadow padding-15 mt-20 thongtinhanglykygui">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex gap-10">
                                <input class="btn-checkbox" type="checkbox" name="" id="">
                                <span class="text-primary">
                                    Sử dụng thông tin hành khách là thông tin liên
                                    hệ
                                </span>
                            </div>
                            <div class="text-danger">(*) Thông tin bắt buộc</div>
                        </div>

                        <div>
                            <div class="d-flex thongtinnguoikhachhang justify-content-between">
                                <h6>NGƯỜI LỚN:</h6>
                                <!--  -->
                                <div class="input-select-sex">
                                    <label class="text-info-sex" style="font-size: 12px;" for="">
                                        Quý danh: <span class="text-danger">
                                            (*)
                                        </span>
                                    </label>
                                    <div class="padding-15 luachongioitinh">
                                        <select name="ong" id="">
                                            <option value="ong">Ông</option>
                                            <option value="ba">Bà</option>
                                        </select>
                                    </div>
                                </div>
                                <!--  -->
                                <div class="input-infor-thongtin">
                                    <label class="text-info-tt" style="font-size: 12px;" for="">
                                        Họ Tên đệm Tên:
                                        <span class="text-danger">
                                            (*)
                                        </span>
                                    </label>
                                    <input type="text" class="input-thongtin" name="nameOng" id=""
                                           placeholder="Ví dụ: Nguyễn Văn A">
                                </div>
                                <!--  -->
                                <div class="input-infor-thongtin">
                                    <label class="text-info-tt" style="font-size: 12px;" for="">
                                        Ngày sinh:
                                        <span class="text-danger">
                                            (*)
                                        </span>
                                    </label>
                                    <input type="date" class="input-thongtin" name="ngaysinhong" id=""
                                           placeholder="Ví dụ:01/07/1969">
                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <div>
                            <div class="d-flex thongtinnguoikhachhang justify-content-between">
                                <h6>TRẺ EM :</h6>
                                <!--  -->
                                <div class="input-select-sex">
                                    <label class="text-info-sex" style="font-size: 12px;" for="">
                                        Quý danh: <span class="text-danger">
                                            (*)
                                        </span>
                                    </label>
                                    <div class="padding-15 luachongioitinh">
                                        <select name="ong" id="">
                                            <option value="treem1">Trẻ em trai</option>
                                            <option value="treem2">Trẻ em gai</option>
                                        </select>
                                    </div>
                                </div>
                                <!--  -->
                                <div class="input-infor-thongtin">
                                    <label class="text-info-tt" style="font-size: 12px;" for="">
                                        Họ Tên đệm Tên:
                                        <span class="text-danger">
                                            (*)
                                        </span>
                                    </label>
                                    <input type="text" class="input-thongtin" name="nameOng" id=""
                                           placeholder="Ví dụ: Nguyễn Văn A">
                                </div>
                                <!--  -->
                                <div class="input-infor-thongtin">
                                    <label class="text-info-tt" style="font-size: 12px;" for="">
                                        Ngày sinh:
                                        <span class="text-danger">
                                            (*)
                                        </span>
                                    </label>
                                    <input type="date" class="input-thongtin" name="ngaysinhong" id=""
                                           placeholder="Ví dụ:01/07/1969">
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex thongtinnguoikhachhang justify-content-between">
                                <h6> EM BÉ:</h6>
                                <!--  -->
                                <div class="input-select-sex">
                                    <label class="text-info-sex" style="font-size: 12px;" for="">
                                        Quý danh: <span class="text-danger">
                                            (*)
                                        </span>
                                    </label>
                                    <div class="padding-15 luachongioitinh">
                                        <select name="ong" id="">
                                            <option value="embe1">Em bé trai</option>
                                            <option value="embe2">Em bé trai</option>
                                        </select>
                                    </div>
                                </div>
                                <!--  -->
                                <div class="input-infor-thongtin">
                                    <label class="text-info-tt" style="font-size: 12px;" for="">
                                        Họ Tên đệm Tên:
                                        <span class="text-danger">
                                            (*)
                                        </span>
                                    </label>
                                    <input type="text" class="input-thongtin" name="nameOng" id=""
                                           placeholder="Ví dụ: Nguyễn Văn A">
                                </div>
                                <!--  -->
                                <div class="input-infor-thongtin">
                                    <label class="text-info-tt" style="font-size: 12px;" for="">
                                        Ngày sinh:
                                        <span class="text-danger">
                                            (*)
                                        </span>
                                    </label>
                                    <input type="date" class="input-thongtin" name="ngaysinhong" id=""
                                           placeholder="Ví dụ:01/07/1969">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============== -->
                <div>
                    <div class="mt-50">
                        <h4 class="text-primary">THÔNG TIN LIÊN HỆ</h4>
                        <p class="text-info " style="font-size: 16px; margin-bottom: 15px;">
                            Xin vui lòng điền
                            vào tất cả các thông tin. Hãng sẽ liên hệ đến bạn nếu có thay đổi liên quan đến
                            chuyến bay.
                        </p>
                    </div>

                    <!--  -->
                    <div class="box-shadow padding-15 mt-20 thongtinhanglykygui">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex gap-10">
                                <input class="btn-checkbox" type="checkbox" name="" id="">
                                <span class="text-primary">Có lấy hóa đơn GTGT</span>
                            </div>
                            <div class="text-danger">(*) Thông tin bắt buộc</div>
                        </div>

                        <div>
                            <div class="d-flex thongtinnguoikhachhang justify-content-between">
                                <h6 class="flex-1">NGƯỜI ĐẠI DIỆN:</h6>

                                <!--  -->
                                <div class="input-infor-thongtin flex-2">
                                    <label class="text-info-tt" style="font-size: 12px;" for="">
                                        Họ Tên đệm Tên:
                                        <span class="text-danger">
                                            (*)
                                        </span>
                                    </label>
                                    <input type="text" class="input-thongtin" name="f" id=""
                                           placeholder="Ví dụ: Nguyễn Văn A">
                                </div>
                                <!--  -->
                                <div class="input-select-sex flex-1">
                                    <label class="text-info-sex" style="font-size: 12px;" for="">
                                        Quý danh: <span class="text-danger">
                                            (*)
                                        </span>
                                    </label>
                                    <div class="padding-15 luachongioitinh">
                                        <select name="ong" id="">
                                            <option value="ong">Ông</option>
                                            <option value="ba">Bà</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="flex-1"></div>
                            </div>
                            <!--  -->
                            <div class="d-flex thongtinnguoikhachhang justify-content-between">
                                <h6 class="flex-1"></h6>
                                <!--  -->
                                <div class="input-infor-thongtin flex-2">
                                    <label class="text-info-tt" style="font-size: 12px;" for="">
                                        Email:
                                        <span class="text-danger">
                                            (*)
                                        </span>
                                    </label>
                                    <input type="email" class="input-thongtin" name="emails" id=""
                                           placeholder="Ví dụ: hello@vemaybayso.vn">
                                </div>
                                <!--  -->
                                <div class="input-infor-thongtin flex-1">
                                    <label class="text-info-tt" style="font-size: 12px;" for="">
                                        Điện thoại:
                                        <span class="text-danger">
                                            (*)
                                        </span>
                                    </label>
                                    <input type="text" class="input-thongtin" name="emails" id=""
                                           placeholder="Ví dụ: 0919005320">
                                </div>
                                <!--  -->
                                <div class="input-infor-thongtin flex-1">
                                    <label class="text-info-tt" style="font-size: 12px;" for="">
                                        >Điện thoại:
                                    </label>
                                    <input type="text" class="input-thongtin" name="emails" id=""
                                           placeholder="Ví dụ: 0919005320">
                                </div>
                            </div>
                            <!--  -->
                            <div class="d-flex thongtinnguoikhachhang justify-content-between">
                                <h6 class="flex-1"></h6>


                                <div class="input-infor-thongtin flex-2">
                                    <label class="text-info-tt" style="font-size: 12px;" for="">
                                        Địa chỉ:

                                    </label>
                                    <input type="text" class="input-thongtin" name="adderss" id=""
                                           placeholder="Ví dụ: Số 81 Hoàng Cầu">
                                </div>

                                <div class="input-infor-thongtin  " style=" flex: 2.1;">
                                    <label class="text-info-tt" style="font-size: 12px; " for="">
                                        Thành phố:
                                    </label>
                                    <input type="text" class="input-thongtin" name="tp" id=""
                                           placeholder="Ví dụ: Thành phố Hà Nội">
                                </div>


                            </div>
                            <!--  -->
                            <div class="d-flex thongtinnguoikhachhang justify-content-between">
                                <h6 class="flex-1">HÓA ĐƠN:</h6>


                                <!--  -->
                                <div class="input-infor-thongtin flex-2">
                                    <label class="text-info-tt" style="font-size: 12px;" for="">
                                        Địa chỉ:

                                    </label>
                                    <input type="text" class="input-thongtin" name="f" id=""
                                           placeholder="Đúng theo Đăng ký kinh doanh/Quyết định lập">
                                </div>
                                <!--  -->
                                <div class="input-infor-thongtin flex-1">
                                    <label class="text-info-tt" style="font-size: 12px;" for="">
                                        Mã số Thuế:
                                    </label>
                                    <input type="text" class="input-thongtin" name="f" id=""
                                           placeholder="Ví dụ: 0011005xxx">
                                </div>
                                <!--  -->
                                <div class="input-select-sex flex-1">
                                    <label class="text-info-sex" style="font-size: 12px;" for="">
                                        Mục đích
                                        <span class="text-danger">
                                        </span>
                                    </label>
                                    <div class="padding-15 luachongioitinh">
                                        <select name="canhan" id="">
                                            <option value="canhaan">Cá nhân</option>
                                            <option value="embe2">Em bé trai</option>
                                        </select>
                                    </div>
                                </div>


                            </div>
                            <!--  -->
                            <div class="d-flex thongtinnguoikhachhang yeucaukhac justify-content-between">
                                <h6 class="flex-1">YÊU CẦU KHÁC:</h6>
                                <div class="infor-textarea">
                                    <label for="" class="text-info">Bổ sung các thông tin cần hỗ trợ:</label>
                                    <textarea name="thongtincanhotro" id="thongtincanhotro"
                                              placeholder="Bay lần đầu, đặt suất ăn, ghế ngồi, Số thẻ thành viên, Passport...Yêu cầu hỗ trợ xe lăn"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flight-left">
                <div class="menu-flight">
                    <div class="menu-section">
                        <div class=" toggle-menu cursor text-info d-flex justify-content-between  padding-15"
                             data-target="#menu-stk">
                            <h6 class="text-info ">THÔNG TIN ĐẶT VÉ</h6>
                            <div>
                                <img src="./assets/svg/icons/Flight-list/drop-button.svg" alt="">
                            </div>
                        </div>
                        <ul class="list-none-style  hidden" id="menu-stk">
                            <div class=" padding-15  d-flex justify-content-between chuyendi">
                                <h6 class="text-primary">Chuyển đi</h6>
                                <h6 class="text-danger">604,920 VND</h6>
                            </div>
                            <li class="d-flex padding-15   justify-content-between text-primary">
                                <p>Giá vé</p>
                                <div>
                                    <p>20,520 VND</p>
                                    <span>
                                        <img src="./assets/svg/icons/Flight-list/drop-button.svg"
                                             alt="">
                                    </span>
                                </div>
                            </li>
                            <li class="d-flex padding-15  justify-content-between text-primary ">
                                <p>Phí, thuế</p>
                                <div>
                                    <p>352,200 VND</p>
                                    <span>
                                        <img src="./assets/svg/icons/Flight-list/drop-button.svg"
                                             alt="">
                                    </span>
                                </div>
                            </li>
                            <li class="d-flex padding-15  justify-content-between text-primary ">
                                <p>Dịch vụ</p>
                                <div>
                                    <p>232,200 VND</p>
                                    <span>
                                        <img src="./assets/svg/icons/Flight-list/drop-button.svg"
                                             alt="">
                                    </span>
                                </div>
                            </li>
                            <li class="d-flex padding-15  justify-content-between text-primary ">
                                <p>Dịch vụ bổ trợ</p>
                                <div>
                                    <p>232,200 VND</p>
                                    <span>
                                        <img src="./assets/svg/icons/Flight-list/drop-button.svg"
                                             alt="">
                                    </span>
                                </div>
                            </li>

                            <!--  -->
                            <div class=" padding-15  d-flex justify-content-between chuyendi">
                                <h6 class="text-primary">Chuyển đi</h6>
                                <h6 class="text-danger">604,920 VND</h6>
                            </div>
                            <li class="d-flex padding-15   justify-content-between text-primary">
                                <p>Giá vé</p>
                                <div>
                                    <p>20,520 VND</p>
                                    <span>
                                        <img src="./assets/svg/icons/Flight-list/drop-button.svg"
                                             alt="">
                                    </span>
                                </div>
                            </li>
                            <li class="d-flex padding-15  justify-content-between text-primary ">
                                <p>Phí, thuế</p>
                                <div>
                                    <p>352,200 VND</p>
                                    <span>
                                        <img src="./assets/svg/icons/Flight-list/drop-button.svg"
                                             alt="">
                                    </span>
                                </div>
                            </li>
                            <li class="d-flex padding-15  justify-content-between text-primary ">
                                <p>Dịch vụ</p>
                                <div>
                                    <p>232,200 VND</p>
                                    <span>
                                        <img src="./assets/svg/icons/Flight-list/drop-button.svg"
                                             alt="">
                                    </span>
                                </div>
                            </li>
                            <li class="d-flex padding-15  justify-content-between text-primary ">
                                <p>Dịch vụ bổ trợ</p>
                                <div>
                                    <p>232,200 VND</p>
                                    <span>
                                        <img src="./assets/svg/icons/Flight-list/drop-button.svg"
                                             alt="">
                                    </span>
                                </div>
                            </li>
                        </ul>
                        <!--  -->
                        <div class="padding-15 d-flex justify-content-between  bg-info-alt tongtienFaleis">
                            <h6>TỔNG TIỀN</h6>
                            <h6>1.219.820 VND</h6>
                        </div>
                        <div class="padding-15">
                            <div class="magiamgia">
                                <label for="">Mã giảm giá</label>
                                <input type="text" name="sale" id="" placeholder="Ví dụ: VMB09876S">
                            </div>
                        </div>

                        <div class="padding-15 dieukienthoathuan d-flex justify-content-between">


                            <input class="btn-checkbox" type="checkbox" name="dieukien" id="">
                            <div>
                                Tôi đã đọc, hiểu và đồng ý với các điều khoản của hãng hàng không, các thông tin
                                đặt vé đã chính xác và tôi không có thắc mắc gì.
                            </div>
                        </div>

                        <div class="padding-15 ">
                            <div class="padding-15">
                                <button type="submit" class="bg-danger  chitietdatvess"
                                        id="chitietdatvess">
                                    THANH
                                    TOÁN
                                </button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
    </section>
</form>
@section Scripts {
    <script src="~/Content/assets/js/Flight-Payment1.js"></script>
}